# Auto detect text files and perform LF normalization
* text=auto
* linguist-vendored=false
*.bas linguist-language=BASIC
*.inc linguist-language=BASIC
*.BAS linguist-language=BASIC
*.INC linguist-language=BASIC
